@using _57_Exercises.Controllers

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Exercises for Programmers</h1>
    <p class="lead">Please choose an exercise below.</p>
</div>

<div class="row">
    <h1>Input, Processing and Output</h1>
    <div class="col-md-12">
        <fieldset>
            <legend>Chapter 2</legend>
            @Html.ActionLink("1. Saying Hello", nameof(HomeController._1), null, new { @class = "btn btn-default" })
            @Html.ActionLink("2. Counting the Number of Characters", nameof(HomeController._2), null, new { @class = "btn btn-default" })
            @Html.ActionLink("3. Printing Qoutes", nameof(HomeController._3), null, new { @class = "btn btn-default" })
            @Html.ActionLink("4. Mad Lib", nameof(HomeController._4), null, new { @class = "btn btn-default" })
            @Html.ActionLink("5. Simple Math", nameof(HomeController._5), null, new { @class = "btn btn-default" })
            @Html.ActionLink("6. Retirement Calculator", nameof(HomeController._6), null, new { @class = "btn btn-default" })
        </fieldset>
    </div>
    <div class="col-md-12 marginTop2">
        <fieldset>
            <legend>Chapter 3</legend>
            <div class="btn-group">
                 @Html.ActionLink("7. Area", nameof(HomeController._7), null, new { @class = "btn btn-default" })
                 @Html.ActionLink("8. Pizza", nameof(HomeController._8), null, new { @class = "btn btn-default" })
                @Html.ActionLink("9. Paint Calculator", nameof(HomeController._9), null, new { @class = "btn btn-default" })
                @Html.ActionLink("10. Self-Checkout", nameof(HomeController._10), null, new { @class = "btn btn-default" })
                @Html.ActionLink("12. Interest", nameof(HomeController._12), null, new { @class = "btn btn-default" })
                @Html.ActionLink("14. Tax", nameof(HomeController._14), null, new { @class = "btn btn-default" })
                @Html.ActionLink("15. Password", nameof(HomeController._15), null, new { @class = "btn btn-default" })
                @Html.ActionLink("18. Temp", nameof(HomeController._18), null, new { @class = "btn btn-default" })
            </div>
        </fieldset>
    </div>
</div>